<!DOCTYPE html>
<html>
<body>
    <h2>Chat</h2>
    <div id="chat-log">
        {% for message in messages %}
            <p><strong>{{ message.user.username }}:</strong> {{ message.content }}</p>
        {% endfor %}
    </div>
    <input id="message-input" type="text" size="100">
    <button id="send-button">Send</button>

    <script>
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').innerHTML += '<p><strong>' + data.user + ':</strong> ' + data.message + '</p>';
        };

        document.querySelector('#send-button').onclick = function(e) {
            const messageInput = document.querySelector('#message-input');
            chatSocket.send(JSON.stringify({
                'message': messageInput.value
            }));
            messageInput.value = '';
        };
    </script>
</body>
</html>
